
:root {
  --dark-blue:  #2A4CA6;
  --light-blue: #0179DA;
}

.main-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
}

.main-container .log-bar {
  background-color: var(--light-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-top: 15px;
}

.log-bar .log-title {
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
}

.log-bar .user-n-logout {
  display: flex;
  width: auto;
}

.log-bar .user-n-logout p {
  margin-right: 15px;
}

.main-container .nav-bar {
  background-color: var(--dark-blue);
  padding: 50px 0;
}

.nav-bar ul {
  list-style-type: none;
  padding: 0;
  width: max-content;
}

.nav-bar ul li {
  height: 50px;
  padding: 0 35px;
  color: white;
  display: flex;
  align-items: center;
}

.nav-bar ul li:hover {
  background-color: var(--light-blue);
}

.nav-bar ul li a {
  text-decoration: none;
  font-size: 18px;
}

.nav-bar ul li a:visited {
  color: white;
}

.main-container div {
  width: 100%;
}

.main-container .section-container {
  padding: 15px 40px 15px 40px;
  margin: 0 auto;
  width: auto;
}

.section-container .section-title {
  color: var(--dark-blue);
  border-bottom: 1px solid black;
  padding: 0 0 10px 20px;
  font-weight: 100;
}

.section-container .search-container {
  margin: 10px 0;
}

.section-container .search-container .search {
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.section-container .show-details {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}